<div class="field">
  <div class="control">
    <!-- Cash on delivery -->

    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <input type="radio" name="payment_method" checked="checked">
        </div>
        <div class="level-item">
          <span class="icon">
            <i class="fas fa-money-bill"></i>
          </span>
        </div>
        <div class="level-item">
          <p class="is-size-5">Cash on delivery (COD)</p>
        </div>
      </div>
    </div>

    <!-- Credit card -->

    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <input type="radio" name="payment_method" disabled>
        </div>
        <div class="level-item">
          <span class="icon">
            <i class="fas fa-credit-card"></i>
          </span>
        </div>
        <div class="level-item">
          <p class="is-size-5">Credit Card</p>
        </div>
      </div>
    </div>

    <!-- Net banking -->

    <div class="level is-mobile">
      <div class="level-left">
        <div class="level-item">
          <input type="radio" name="payment_method" disabled>
        </div>
        <div class="level-item">
          <span class="icon">
            <i class="fas fa-university"></i>
          </span>
        </div>
        <div class="level-item">
          <p class="is-size-5">Net banking</p>
        </div>
      </div>
    </div>
  </div>
</div>
