<%= form_with(
  model: LineItem.new(product: product, cart: current_cart),
  url: line_items_path,
  id: "addToCartForm#{product.id}",
  data: {
    controller: 'submit',
    target: 'submit.form'
  }) do |f| %>
  <%= f.hidden_field :product_id, value: product.id %>
  <%= f.hidden_field :brand_id, value: brand.id %>

  <%= f.button class: 'button is-primary is-medium is-outlined', data: {
      disable_with: '<span class="icon"><i class="fas fa-cart-plus"></i></span> <span>Add to cart</span>'.html_safe,
      action: 'submit#process',
      target: 'submit.button'
    } do %>
    <span class="icon"><i class="fas fa-cart-plus"></i></span>
    <span>Add to cart</span>
  <% end %>
<% end %>
