<% provide(:title, @brand.name) %>

<section class="section">
  <% @products.each_slice(3) do |slice| %>
    <div class="tile is-ancestor">
    <% filler_tile_count = 3 - slice.size %>
    <% slice.each do |product| %>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
          <figure class="image" style="margin-bottom: 20px !important;">
            <%= image_tag product.photos.sample.variant(resize: "480") %>
          </figure>
          <p class="title is-4"><%= product.name %></p>
          <p><%= product.description.truncate(100) %></p>
        </article>
        <div class="tile is-child">
          <%= render 'add_to_cart_form', product: product, brand: @brand %>
        </div>
      </div>
    <% end %>

    <% filler_tile_count.times do %>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child">
        </article>
      </div>
    <% end %>
    </div>
  <% end %>
</section>
