<div class="content">
  <h2 class="title">
    Seller Dashboard
  </h2>
  <p class="subtitle">
    As you can see, this area is work-in-progress right now. This is where you will be able to view how your business in doing on a day-to-day basis, with stats like orders per day, visitors per week, etc. We're working on making this the most well-designed and fun-to-use interface. You're going to love it!
  </p>
</div>
