<% provide(:title, 'Your account settings') %>

<div class="column">
  <div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-two-thirds-desktop is-half-widescreen">
      <%= render 'form', method: :put  %>
    </div>
  </div>
</div>
