<% provide(:title, 'Your business brand') %>

<div class="column">
  <div class="columns is-centered">
    <div class="column is-two-thirds-tablet is-two-thirds-desktop is-half-widescreen">
      <div class="content">
        <p class="title">Add few details about your brand, to finish setting up your account:</p>
      </div>

      <%= render 'form', method: :post %>
    </div>
  </div>
</div>
