<h1 class="title">
  Yay, you're in!
</h1>
<p class="subtitle">
  As you can see, this area is work-in-progress right now. This is where you will be able to do things like adding products to sell, viewing your orders, connecting with your customers, etc. We're working on making this the most well-designed and fun-to-use interface. You're going to love it!
</p>
