<div class="content">
  <h2 class="title">
    Your Orders
  </h2>
  <p class="subtitle">
    There aren't any orders to see right now, as we're currently building out the storefront area, where customers will purchase your products. You'll then be able to view orders made to your store, fulfill them, connect with your customers, etc. We're working on making this the most well-designed and fun-to-use interface. You're going to love it!
  </p>
</div>
