<section class="section">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title">We've been expecting you.</p>
        <p class="subtitle is-4 has-text-grey-light">Let's face it – taking a retail business online is hard. Selling products on large online marketplaces is complex, costly, and disconnects you from your own customers. The good news? Agorium solves all of this, and more. </p>
      </div>
      <div class="column">
        <%= render form %>
      </div>
    </div>
  </div>
</section>
