<% provide(:title, 'Sign up') %>

<% provide(:meta_description, 'Start selling with Agorium – the home for the retail merchants of India') %>

<section class="section">
  <%= render 'signup', form: 'form' %>
</section>
