<section class="section">
  <div class="container">
    <h1 class="title">
      Yay, you're in!
    </h1>
    <p class="subtitle">
      Agorium is work-in-progress right now, so do check back in a couple of weeks.
    </p>
  </div>
</section>
