<section class="section">
  <div class="container content">
    <p class="title is-2">
      A home for the retail merchants of India
    </p>
    <p class="subtitle is-4 has-text-grey">
    Agorium is a decentralized, zero-commission, no-fee marketplace designed for small retailers in India. Traditional ecommerce marketplaces today gobble up most of the value they create – in the form of margins, customer relationship, and data – making small sellers 'second-class citizens' in the process. It really doesn't have to be this way. Agorium is focused on flipping this model over its head. We've managed to design an open platform model that provides most of the value to the retailers themselves, and we're currently working hard on building it well. We're calling it Agorium because this concept is built upon the core value of <i><%= link_to 'Agora markets', 'https://en.wikipedia.org/wiki/Agora' %></i> of the ancient Greek city-states, viz. giving the power to sell freely to the small businesses. <%= link_to 'Sign up', signup_path, class: 'has-text-primary' %> to become an early user.
    </p>
  </div>
</section>

<section class="section is-medium has-background-grey-light">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column">
        <p class="title has-text-grey-dark">Stay up to date</p>
        <p class="subtitle is-4 has-text-grey-dark">Interested in how this program fares? Enter your email to receive our updates.</p>
      </div>

      <div class="column">
        <%= render 'subscribers/form', subscriber: Subscriber.new %>
      </div>
    </div>
  </div>
</section>
