@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');

$beige-light: #F2E8CD;
$beige-lighter: #F4F3ED;

$family-sans-serif: "Ubuntu", sans-serif;

$grey-light: $beige-light;
$grey-lighter: $beige-lighter;
$primary: #FFAE00;
$link: #F38665;
$info: #1364A3;
$fullhd-enabled: false;

$control-border-width: 2px;
$input-shadow: none;

$breadcrumb-item-color: $info;

@import "~bulma/bulma";

@media (max-width: 768px) {
  .has-columns-reverse {
    flex-direction: column-reverse;
  }
}

.table tbody > tr > td
{
  vertical-align: middle !important;
}
