<div class="content">
  <h2 class="title">
    Account Settings
  </h2>
  <p class="subtitle">
    There aren't any settings to change right now, as this section is under construction. You'll soon be able make a bunch of updates to your Agorium account here – changing phone number, adding business name and address, etc.
  </p>
</div>

<% content_for :navigation_action do %>
  <%= link_to 'Log out', logout_path, class: 'button is-medium', method: :delete %>
<% end %>
