<% if @subscriber.errors.any? %>
  document.querySelector('#<%= @formId %>').outerHTML = "<%= j render 'form', subscriber: @subscriber, formId: @formId %>";
<% else %>
  document.querySelector('#<%= @formId %>').outerHTML = "<p class='subtitle is-4 has-text-info'>Thank you for subscribing!</p>";
<% end %>
